[Unit]
Description=Granite Post Celery Worker
After=network.target

[Service]
Type=simple
User=granite
Group=granite
WorkingDirectory=/home/granite/apps/thegraniteapi
Environment="PATH=/home/granite/apps/thegraniteapi/venv/bin"
EnvironmentFile=/home/granite/apps/thegraniteapi/.env
ExecStart=/home/granite/apps/thegraniteapi/venv/bin/celery \
    -A config worker \
    -Q fast,slow,celery \
    --loglevel=info \
    --concurrency=2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
